{% extends 'base.html.twig' %}

{% block title %}contact us- e-commerce{% endblock %}

{% block body %}
    <h3 class="mb-3">send us a message</h3>
    {{form(form)}}
    
    {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
{% endblock %}
